<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anomaly Detection</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Anomaly Detection</h1>
    <form action="{{ url_for('predict') }}" method="POST" class="prediction-form">
        <div class="form-group">
            <label for="source">Source:</label>
            <input type="text" name="Source" id="source" placeholder="Enter source" required>
        </div>
        <div class="form-group">
            <label for="destination">Destination:</label>
            <input type="text" name="Destination" id="destination" placeholder="Enter destination" required>
        </div>
        <div class="form-group">
            <label for="protocol">Protocol:</label>
            <input type="text" name="Protocol" id="protocol" placeholder="Enter protocol" required>
        </div>
        <div class="form-group">
            <label for="length">Length:</label>
            <input type="number" name="Length" id="length" placeholder="Enter length" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="result">
        <h2>Result:</h2>
        <p>{{ result }}</p>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include script.js -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
