<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anomaly Detection</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Anomaly Detection</h1>
    <form action = "{{ url_for('predict') }}" method="POST">
        <input type="text" name = "Source" placeholder="Enter source"><br>
        <input type="text" name = "Destination" placeholder="Enter destination"><br>
        <input type="text" name = "Protocol" placeholder="Enter protocol"><br>
        <input type="text" name = "Length" placeholder="Enter length"><br>
        <input type="submit" value = "Submit">
    </form>
    <h2>Result:</h2>
    <p>{{ result }}</p>

    <div id="prediction-result"></div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include script.js -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>